html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-sarif -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  --bg-color-primary: #00b4ff;
  --bg-color-secondary: #ffd700;
  --bg-color-accent: #c506aa
}

main {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,6,170,1) 0%, rgba(0,180,255,1) 100%);
  color: white;
  min-height: 100vh;
}

nav {
  color: black;
  background-color: var(--bg-color-secondary);
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: white;
  background-color: #202040;
}

nav a {
  color: black;
  font-size: 1.5em;
  padding: 4px;
}

img {
  max-width: 100%;
  display: block;
}

video {
  height: 100%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button[class="icon"] {
  cursor: pointer;
  background: transparent;
  border: none;
  color: currentColor;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul, li {
  list-style: none;
}

.banner {
  padding: 12px;
  border-bottom: 3px solid var(--bg-color-secondary);
}

.banner a {
  color: var(--bg-color-secondary)
}

.bannerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textImageBanner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
  }

  .bannerContent {
    flex-direction: column;
  }

  .textImageBanner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
